<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Dog</title>
</head>
<body>
    <h1>Edit your Dog!</h1>
    <form action="/dogs/{{ this_dog.id }}/update" method="post">
        <p>
            Name:
            <input type="text" name="name" id="" value="{{ this_dog.name }}">
        </p>
        <p>
            Age:
            <input type="number" name="age" id="" value="{{ this_dog.age }}">
        </p>
        <p>
            Hair Color:
            <input type="text" name="hair_color" id="" value="{{ this_dog.hair_color }}">
        </p>
        <button>Edit!</button>
    </form>
    <a href="/">Home</a>
</body>
</html>