<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Dojo Survey</title>
</head>
<body>
    <div class="container">


        <h1 style="color: #FBBD0A; text-align: left;">Dojo Survey</h1>


        <form>

            <div class="block">
                <label for="name">Name:</label>
                <input type="text" name="name" style="width: 300px;">
            </div>


            <div class="block">
                <label for="location">Dojo Location:</label> 
                <select name="location" style="width: 300px;">
                    <option value="" disabled selected hidden>Select A Location...</option>
                    <option value="chicago">Chicago</option>
                    <option value="seattle">Seattle</option>
                    <option value="online">Online</option>
                    <option value="burbank">Burbank</option>
                    <option value="bellevue">Bellevue</option>
                </select>
            </div>


            <div class="block">
                <label for="language">Favorite Language:</label>
                <select name="language" style="width: 300px;">
                    <option value="" disabled selected hidden>Select A Language...</option>
                    <option value="python">Python</option>
                    <option value="javascript">JavaScript</option>
                    <option value="html">HTML</option>
                    <option value="css">CSS</option>
                    <option value="c#">C#</option>
                </select>
            </div>


            <div class="block">
                <label for="comment">Comments:</label>
                <textarea name="comment" style="width: 300px; height: 150px;"></textarea>
            </div>


            <div class="btnbox block">
                <button class="btn">Submit</button>
            </div>


        </form>


    </div>
</body>
</html>