<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Dojo Survey</title>
</head>
<body>
    <div class="container">


        <h1 style="color: #FBBD0A; text-align: left;">Dojo Survey</h1>


        <form action="/process" method="post">

            <div class="block">
                <label for="name">Name:</label>
                <input type="text" name="name" style="width: 300px;">
            </div>


            <div class="block">
                <label for="location">Dojo Location:</label> 
                <select name="location" style="width: 300px;">
                    <option value="" disabled selected hidden>Select A Location...</option>
                    <option value="Chicago">Chicago</option>
                    <option value="Seattle">Seattle</option>
                    <option value="Online">Online</option>
                    <option value="Burbank">Burbank</option>
                    <option value="Bellevue">Bellevue</option>
                </select>
            </div>


            <div class="block">
                <label for="language">Favorite Language:</label>
                <select name="language" style="width: 300px;">
                    <option value="" disabled selected hidden>Select A Language...</option>
                    <option value="Python">Python</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="HTML">HTML</option>
                    <option value="CSS">CSS</option>
                    <option value="C#">C#</option>
                </select>
            </div>


            <div class="block">
                <label for="comment">Comments:</label>
                <textarea name="comment" style="width: 300px; height: 150px;"></textarea>
            </div>


            <div class="btnbox block">
                <input type="submit" name="button" value="Submit" style="color: black; background-color: #FBBD0A; padding: 5px 10px;">
            </div>


        </form>


    </div>
</body>
</html>